body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    border: 1px solid purple;
    background-color: black;
    /* background-image: url('./assets/red-bg.jpg'); */
    background-repeat: no-repeat;
}